* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.App,
.Homeback,
.Choco {
  text-align: center;
  background-image: url("https://bakerbear.s3-us-west-1.amazonaws.com/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  position: relative;
  z-index: 1000;
}
.Homeback {
  margin-top: -1%;
}

a:hover {
  color: #FEFFCA;
  text-decoration: none;
}

#root > div > div > div > div:nth-child(8) > div > img {
  display:none;
}

#root > div > div > div > div:nth-child(8) {
  display: none;
}

